@import 'reset.css';
@import 'webfonts.css';
@import 'touchcarousel.css';
@import 'black-and-white-skin.css';

$font: 'Century';
$fontMed: 'CenturyBlk';
$fontFrank: 'Franklin';
$colorFont: #5f5f5f;
$colorVerde: #b7d042;
$colorGris: #9e9e9e;
$backColor: #fff;
$ancho: 960px;

/* -- wonderland -- */
body{
	font-family: $font; font-size: 14px; background: $backColor; color: $colorFont; 
}
p{line-height: 140%; margin-bottom: 20px;}
.gris{color: $colorGris;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clear{ clear: both; }

@mixin transition {
  $transition-speed: .3s;
  -webkit-transition: all $transition-speed; 
  -moz-transition: all $transition-speed; 
  -o-transition: all $transition-speed; 
  transition: all $transition-speed;
}

body{color: $colorFont; font-size: 14px; background: $backColor;}

/* header */
header{
  height: 54px; background: #fff; position: fixed; top: 0; left: 0; width: 100%; z-index: 200;
  .cont{
    width: $ancho; margin: auto;
  }
  .logo{float: left; position: relative; top: 7px;}
  nav{
    display: inline-block; float: left; margin-left: 100px;
    a{
      display: inline-block; color: $colorFont; text-decoration: none; position: relative; overflow: hidden; padding: 20px; text-align: center; background: $colorVerde;
      span{
        display: block; width: 100%; height: 100%; background: #fff; position: absolute; top: 0; left: 0; @include transition; padding-top: 20px;
      }
      &:hover span{
        top: -90px;
      }
    }
  }
}

#seccion2, #seccion3, #seccion4{position: relative; top: -50px;}

/* banner */
.bigBanner{
  width: 100%; position: relative;
  .cover{width: 100%;}
  &:after{
    content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; background: url(../images/pattern.png);
  }
  video{
    width: 100%; position: relative; z-index: 1;
  }
  .cont{
    width: 960px; position: absolute; top: 30%; left: 50%; z-index: 5; margin: 0 0 0 -480px; color: $colorVerde; font-family: $fontFrank;
    h1{
      font-size: 100px; 
    }
    img{margin-bottom: 30px;}
    p{
      font-size: 48px; line-height: 110%;
    }
  }
}

.sistema{
  width: $ancho; margin: auto; padding: 50px 0 20px 0; position: relative;
  img{position: absolute; top: 50px; right: 0;}
  article{
    width: 370px;
    h2{font-family: $fontFrank; font-size: 60px; margin-bottom: 20px;}
  }
}

.soluciones{
  background: #f3f3f3;
  .cont{
    width: $ancho; margin: auto; padding: 50px 0;
    p{
      width: 520px; float: right; margin: 0;
    }
    span{float: left; font-family: $fontMed; font-size: 45px; color: $colorVerde; font-style: italic; position: relative; top: 30px;}
  }
}

.caract{
  background: url(../images/back-caract.png) #87aeba; overflow: hidden;
  img{position: absolute;}
  .cont{
    width: $ancho; margin: auto; padding: 50px 0; position: relative; min-height: 650px;
    .tit{
      font-family: $fontFrank; font-size: 34px; color: #fff; text-align: center;
    }
    .piso{bottom: 0; left: 50%; margin-left: -650px; z-index: 0;}
    .puertas{
      width: 559px; height: 572px; background: url(../images/puerta-ilu.png); position: absolute; bottom: 0px; left: 50%; margin-left: -279px; z-index: 3;
      .izq{position: absolute; top: 36px; left: 114px;}
      .der{position: absolute; top: 36px; left: 279px;}
    }
    .torniquetes{bottom: -20px; left: 60px; z-index: 4;}
    /*.reflejo{bottom: -290px; left: 50%; margin-left: -394px; z-index: 2}*/
  }
  .globe{
    position: absolute; width: 160px; z-index: 5;
    p{color: $colorVerde; font-family: $fontMed; font-size: 13px; text-shadow: 0px 1px 0px rgba(0,0,0,.4); line-height: 120%;}
    &:hover:before{opacity: 1; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);}
  }
  .abajo{
    padding-bottom: 25px;
    img{bottom: 0; left: 10px; z-index: 5;}
    &:before{content: ''; display: block; width: 29px; height: 29px; background: #fff; border-radius: 50%; position: absolute; z-index: 1; bottom: 0; left: 10px; opacity: 0; @include transition; }
  }
  .arriba{
    padding-top: 40px;
    img{top: 0; left: 10px; z-index: 5;}
    &:before{content: ''; display: block; width: 29px; height: 29px; background: #fff; border-radius: 50%; position: absolute; z-index: 1; top: 0; left: 10px; opacity: 0; @include transition;}
  }
  .b1{
    top: 115px; left: 210px;
    p{position: relative; text-align: right; left: -180px; top: 50px;}
  }
  .b2{
    top: 115px; left: 530px;
    img{left: 50px;}
    &:before{left: 50px;}
  }
  .b3{
    top: 100px; left: 700px; width: 200px;
    p{position: relative; left: 70px; top: 60px;}
  }
  .b4{
    top: 310px; left: 210px;
    p{position: relative; top: -40px; text-align: right; left: -180px;}
  }
  .b5{
    top: 130px; left: 300px;
    img{left: 50px;}
    &:before{left: 50px;}
  }
  .b6{
    top: 310px; left: 700px;
    p{position: relative; left: 70px; top: -40px;}
  }
  /*.stop{
    width: 147px; height: 228px; position: absolute; top: 480px; left: 380px; z-index: 2; overflow: hidden;
  }*/
}

.andenes{
  background: url(../images/back-andenes.png) #617680; overflow: hidden; position: relative;
  img{position: absolute;}
  .cont{width: $ancho; margin: auto; position: relative; min-height: 680px;}
  .tit{font-family: $fontFrank; font-size: 34px; color: #fff; text-align: center; padding: 50px 0;}
  .piso{bottom: 0; left: 0; width: 100%; height: 170px; z-index: 0; background: #989c9e; position: absolute;}
  .puerta{
    width: 818px; height: 520px; position: absolute; background: url(../images/puerta-a.png); bottom: -68px; left: 50%; margin-left: -409px; z-index: 3;
    img{top: 37px;}
    .izq1{ left: 96px; z-index: 3;}
    .izq2{ left: 238px; z-index: 4;}
    .der2{ left: 408px; z-index: 4;}
    .der1{ left: 541px; z-index: 3;}
  }
  .globe{
    position: absolute; width: 160px; z-index: 5;
    p{color: $colorVerde; font-family: $fontMed; font-size: 13px; text-shadow: 0px 1px 0px rgba(0,0,0,.4); line-height: 120%;}
    &:hover:before{opacity: 1; -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);}
  }
  .abajo{
    padding-bottom: 25px;
    img{bottom: 1px; left: 11px; z-index: 5;}
    &:before{content: ''; display: block; width: 29px; height: 29px; background: #fff; border-radius: 50%; position: absolute; z-index: 1; bottom: 0; left: 10px; opacity: 0; @include transition;}
  }
  .arriba{
    padding-top: 40px;
    img{top: 1px; left: 11px; z-index: 5;}
    &:before{content: ''; display: block; width: 29px; height: 29px; background: #fff; border-radius: 50%; position: absolute; z-index: 1; top: 0; left: 10px; opacity: 0; @include transition;}
  }
  .alerta{top: 240px; left:30px; z-index: 4;}
  .disc{top: 240px; right:30px; z-index: 4;}
  .b1{
    top: 330px; left: 0px;
    p{position: relative; text-align: right; left: -100px; padding-left: 50px;}
    img{left: 51px; top: -49px;}
    &:before{left: 50px; top: -50px;}
  }
  .b2{top: 155px; left: 80px; width: 200px;}
  .b3{top: 155px; left: 310px;}
  .b4{top: 170px; left: 520px;}
  .b5{
    top: 300px; left: 895px;
    img{left: -59px;}
    p{padding-right: 50px;}
    &:before{left: -60px;}
  }
  .b6{top: 170px; left: 700px; width: 200px;}
  .b7{
    top: 510px; left: 385px; width: 250px;
    img{left: 100px;}
    &:before{left: 99px;}
  }
  .b8{
    top: 510px; left: 100px; width: 250px;
    img{left: 100px;}
    &:before{left: 99px;}
  }
  .b9{
    top: 510px; left: 650px; width: 250px;
    img{left: 100px;}
    &:before{left: 99px;}
  }
}

.feats{
  width: $ancho; margin: auto;
  li{
    border-bottom: 1px solid #c9caca; padding: 80px 0 60px 0; position: relative;
    h3{
      font-size: 50px; font-family: $fontFrank; margin-bottom: 20px; color: #787d7f;
    }
    &:last-child{border: none;}
  }
  img{position: absolute;}
  .infoRight article{float: right;}
  .infoLeft article{float: left;}
  .coms{
    article{width: 540px;}
    .i1{top: 100px; left: 30px; z-index: 0;}
    .i2{top: 165px; left: 60px; z-index: 1;}
    .i3{
      top: 171px; left: 63px;
      -webkit-animation: onOff 0.6s infinite linear;
      -moz-animation: onOff 0.6s infinite linear;
      -o-animation: onOff 0.6s infinite linear;
      animation: onOff 0.6s infinite linear;
    }
  }
  .notif{
    article{width: 495px;}
    .i1{top: 150px; left: 580px; z-index: 1;}
    .i2{top: 75px; left: 625px; z-index: 2;}
  }
  .alarma{
    padding: 120px 0;
    article{width: 500px;}
    .i1{top: 80px; left: 20px; z-index: 1;}
    .i2{
      top: 80px; left: 80px; z-index: 2;
      -webkit-animation: shakeit 0.8s infinite linear;
      -moz-animation: shakeit 0.8s infinite linear;
      -o-animation: shakeit 0.8s infinite linear;
      animation: shakeit 0.8s infinite linear;
    }
    .i3{
      top: 85px; left: 60px; z-index: 3;
      -webkit-animation: onOff 0.6s infinite linear;
      -moz-animation: onOff 0.6s infinite linear;
      -o-animation: onOff 0.6s infinite linear;
      animation: onOff 0.6s infinite linear;
    }
    .i4{top: 130px; left: 210px; z-index: 4;}
  }
  .monitoreo{
    article{width: 470px;}
    .i1{top: 140px; left: 500px; z-index: 1;}
    .i2{
      top: 189px; left: 538px; z-index: 2;
      -webkit-animation: puertaIzq 8s infinite linear;
      -moz-animation: puertaIzq 8s infinite linear;
      -o-animation: puertaIzq 8s infinite linear;
      animation: puertaIzq 8s infinite linear;
    }
    .i3{
      top: 189px; left: 602px; z-index: 2;
      -webkit-animation: puertaDer 8s infinite linear;
      -moz-animation: puertaDer 8s infinite linear;
      -o-animation: puertaDer 8s infinite linear;
      animation: puertaDer 8s infinite linear;
    }
  }
  .emergencia{
    article{width: 470px;}
    .i1{top: 220px; left: 20px; z-index: 1;}
    .i2{
      top: 150px; left: 250px; z-index: 2;
      -webkit-animation: shakeit 0.8s infinite linear;
      -moz-animation: shakeit 0.8s infinite linear;
      -o-animation: shakeit 0.8s infinite linear;
      animation: shakeit 0.8s infinite linear;
    }
    .i3{
      top: 145px; left: 233px; z-index: 3;
      -webkit-animation: onOff 0.6s infinite linear;
      -moz-animation: onOff 0.6s infinite linear;
      -o-animation: onOff 0.6s infinite linear;
      animation: onOff 0.6s infinite linear;
    }
  }
}

.galeria{
  width: 100%; background: #89aeac; padding: 100px 0;
  .cont{
    width: $ancho; margin: auto; color: #fff; font-family: $fontFrank;
    span{display: block; font-size: 60px;}
    p{color: #a6e8e5; font-size: 48px;}
  }
}

.tour{
  background: url(../images/fondo-imagen.jpg) center center no-repeat; background-size: cover;
  .cont{
    width: $ancho; margin: auto; padding: 100px 0; color: #fff;
    span{display: block; font-size: 60px; margin-bottom: 20px; font-family: $fontFrank;}
    p{font-size: 18px;}
    ul{
      text-align: center; padding-top: 50px;
      li{
        display: inline-block; width: 250px; margin: 0 50px;
        a{
          display: block; outline: none; text-decoration: none; color: #fff; font-family: $fontFrank; text-transform: uppercase; font-size: 18px; position: relative;
          p{
            padding-top: 20px;
          }
          img{
            border-radius: 50%; @include transition; position: relative; z-index: 2;
          }
          &:before{content: ''; display: block; width: 65px; height: 65px; background: url(../images/lupa.png); position: absolute; top: 0px; left: 50%; margin-left: -32px; z-index: 3; opacity: 0; @include transition;}
          &:after{content: ''; display: block; position: absolute; top: 0; left: 0; width: 250px; height: 250px; box-shadow: inset 0px 0px 0px 6px #a8e764; border-radius: 50%; z-index: 1; opacity: 0; @include transition;}
          &:hover:before{opacity: 1; top: 90px;}
          &:hover:after{opacity: 1;}
          &:hover img{-webkit-transform: scale(.8); -moz-transform: scale(.8); -o-transform: scale(.8); transform: scale(.8);}
        }
      }
    }
  }
}

.brt{
  background: #f3f3f3; overflow: hidden;
  .cont{
    width: $ancho; padding: 100px 0; margin: auto;
    .tres{
      overflow: hidden; margin-bottom: 100px;
      li{
        width: 33.3%; float: left; position: relative;
        div{text-align: center; min-height: 120px;}
        span, p, h4, strong{padding: 0 20px;}
        h4{font-size: 48px; margin-bottom: 20px; font-family: $fontFrank;}
        span, strong{display: block; font-family: $fontFrank; font-size: 24px; margin-bottom: 10px;}
        &:before{content: ''; display: block; position: absolute; top: 0px; right: -2px; background: #c9caca; width: 1px; height: 300px;}
      }
    }
  }
  .estacion{
    min-height: 650px; position: relative;
    h5{font-size: 48px; margin-bottom: 20px; font-family: $fontFrank;}
    ul{
      width: 570px;
      li{
        width: 33.3%; float: left; position: relative; margin-bottom: 30px; z-index: 20;
        p{padding-left: 30px;}
        span{
          position: absolute; top: 7px; left: 7px; color: #fff; font-family: $fontFrank; font-size: 18px;
        }
        &:before{content: ''; display: block; width: 25px; height: 25px; border-radius: 50%; background: #b9cb50; position: absolute; top: 0; left: 0;}
      }
    }
    img{position: absolute;}
    .eco1{top: 70px; left: 200px; z-index: 5;}
    .eco2{bottom: -400px; left: 50%; margin-left: -928px; z-index: 0;}
    .eco3{ top: 275px; left: 180px; z-index: 2;}
    .eco4{ top: 200px; left: 660px; z-index: 6;}
    .eco5{ top: 255px; left: 450px; z-index: 7;}
    .eco6{ top: 83px; left: 230px; z-index: 1;}
    .reloj{top: -90px; right: -30px;}
    .nube1{
      top: 300px; left: 0; z-index: 11;
      -webkit-animation: nube1 20s infinite linear;
      -moz-animation: nube1 20s infinite linear;
      -o-animation: nube1 20s infinite linear;
      animation: nube1 20s infinite linear;
    }
    .nube2{
      top: 70px; left: 0; z-index: 11;
      -webkit-animation: nube1 30s infinite linear;
      -moz-animation: nube1 30s infinite linear;
      -o-animation: nube1 30s infinite linear;
      animation: nube1 30s infinite linear;
    }
  }
}

.aniPuerta1{
  -webkit-animation: abrePuerta1 6s infinite linear;
  -moz-animation: abrePuerta1 6s infinite linear;
  -o-animation: abrePuerta1 6s infinite linear;
  animation: abrePuerta1 6s infinite linear;
}
@-webkit-keyframes abrePuerta1 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuerta1 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuerta1 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuerta1 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
.aniPuerta2{
  -webkit-animation: abrePuerta2 6s infinite linear;
  -moz-animation: abrePuerta2 6s infinite linear;
  -o-animation: abrePuerta2 6s infinite linear;
  animation: abrePuerta2 6s infinite linear;
}
@-webkit-keyframes abrePuerta2 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-246px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuerta2 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-246px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuerta2 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-246px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuerta2 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-246px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
.aniPuerta4{
  -webkit-animation: abrePuerta4 6s infinite linear;
  -moz-animation: abrePuerta4 6s infinite linear;
  -o-animation: abrePuerta4 6s infinite linear;
  animation: abrePuerta4 6s infinite linear;
}
@-webkit-keyframes abrePuerta4 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuerta4 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuerta4 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuerta4 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
.aniPuerta3{
  -webkit-animation: abrePuerta3 6s infinite linear;
  -moz-animation: abrePuerta3 6s infinite linear;
  -o-animation: abrePuerta3 6s infinite linear;
  animation: abrePuerta3 6s infinite linear;
}
@-webkit-keyframes abrePuerta3 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(248px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuerta3 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(248px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuerta3 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(248px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuerta3 { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(248px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}


.aniPuertaIzq{
  -webkit-animation: abrePuertaIzq 4s infinite linear;
  -moz-animation: abrePuertaIzq 4s infinite linear;
  -o-animation: abrePuertaIzq 4s infinite linear;
  animation: abrePuertaIzq 4s infinite linear;
}
@-webkit-keyframes abrePuertaIzq { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuertaIzq { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuertaIzq { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuertaIzq { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(-125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}

.aniPuertaDer{
  -webkit-animation: abrePuertaDer 4s infinite linear;
  -moz-animation: abrePuertaDer 4s infinite linear;
  -o-animation: abrePuertaDer 4s infinite linear;
  animation: abrePuertaDer 4s infinite linear;
}
@-webkit-keyframes abrePuertaDer { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-moz-keyframes abrePuertaDer { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@-o-keyframes abrePuertaDer { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}
@keyframes abrePuertaDer { 
    0%{ -webkit-transform: translateX(0); }
    25%,50%{-webkit-transform: translateX(125px);}
    75%, 100%{ -webkit-transform: translateX(0); }
}


@-webkit-keyframes puertaIzq { 
    0%{-webkit-transform: translateX(0);}
    20%{-webkit-transform: translateX(-30px);}
    80%{-webkit-transform: translateX(-30px);}
    100%{-webkit-transform: translateX(0);}
}
@-moz-keyframes puertaIzq { 
    0%{-moz-transform: translateX(0);}
    20%{-moz-transform: translateX(-30px);}
    80%{-moz-transform: translateX(-30px);}
    100%{-moz-transform: translateX(0);}
}
@-o-keyframes puertaIzq { 
    0%{-o-transform: translateX(0);}
    20%{-o-transform: translateX(-30px);}
    80%{-o-transform: translateX(-30px);}
    100%{-o-transform: translateX(0);}
}
@keyframes puertaIzq { 
    0%{transform: translateX(0);}
    20%{transform: translateX(-30px);}
    80%{transform: translateX(-30px);}
    100%{transform: translateX(0);}
}

@-webkit-keyframes puertaDer { 
    0%{-webkit-transform: translateX(0);}
    20%{-webkit-transform: translateX(30px);}
    80%{-webkit-transform: translateX(30px);}
    100%{-webkit-transform: translateX(0);}
}
@-moz-keyframes puertaDer { 
    0%{-moz-transform: translateX(0);}
    20%{-moz-transform: translateX(30px);}
    80%{-moz-transform: translateX(30px);}
    100%{-moz-transform: translateX(0);}
}
@-o-keyframes puertaDer { 
    0%{-o-transform: translateX(0);}
    20%{-o-transform: translateX(30px);}
    80%{-o-transform: translateX(30px);}
    100%{-o-transform: translateX(0);}
}
@keyframes puertaDer { 
    0%{transform: translateX(0);}
    20%{transform: translateX(30px);}
    80%{transform: translateX(30px);}
    100%{transform: translateX(0);}
}

@-webkit-keyframes onOff { 
    0%, 100% { opacity: 0; } 
    50% {opacity: 1;}
}
@-moz-keyframes onOff { 
    0%, 100% { opacity: 0; } 
    50% {opacity: 1;}
}
@-o-keyframes onOff { 
    0%, 100% { opacity: 0; } 
    50% {opacity: 1;}
}
@keyframes onOff { 
    0%, 100% { opacity: 0; } 
    50% {opacity: 1;}
}

@-webkit-keyframes nube1 { 
    0% { left: 0%; opacity: 0; } 
    20% { opacity: .8; } 
    80% { opacity: .8; } 
    100% { left: 100%; opacity: 0; }
}
@-moz-keyframes nube1 { 
    0% { left: 0%; opacity: 0; } 
    20% { opacity: .8; } 
    80% { opacity: .8; } 
    100% { left: 100%; opacity: 0; }
}
@-o-keyframes nube1 { 
    0% { left: 0%; opacity: 0; } 
    20% { opacity: .8; } 
    80% { opacity: .8; } 
    100% { left: 100%; opacity: 0; }
}
@keyframes nube1 { 
    0% { left: 0%; opacity: 0; } 
    20% { opacity: .8; } 
    80% { opacity: .8; } 
    100% { left: 100%; opacity: 0; }
}

@-webkit-keyframes shakeit {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-moz-keyframes shakeit {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-o-keyframes shakeit {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shakeit {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}















