@import 'color_style/color_1.css';
@import 'fontello.css';

/*AVANS HEADER*/
body {
	font-family: 'Titillium Web', sans-serif;
}
#header-container {
    height: 100px;
}

div.container {
	width: 1200px;
	margin: auto;
	position: relative;
}

#header {
    position: relative;
    height: 100px;
    background-color: #ffffff;
    z-index: 10;
    -webkit-box-shadow: 0 0px 2px #e9e9e9;
    -moz-box-shadow: 0 0px 2px #e9e9e9;
    box-shadow: 0 0px 2px #e9e9e9;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#header>div {
    height: 100%;
}

#logo {
	background-image: url(/images/logo_1.png);
    position: absolute;
    top: 50%;
    left: 15px;
    width: 150px;
    height: 46px;
    margin-top: -17px;
}
#menu-tog {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    background-color: #ffffff;
    padding: 20px 12px;
    margin-top: -24px;
    outline: none;
}
#menu-tog span {
    display: block;
    position: relative;
    width: 24px;
    height: 4px;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
#menu-tog.active span {
    background-color: transparent;
}
#menu-tog span:before, #menu-tog span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
#menu-tog span:before {
    top: -8px;
}
#menu-tog span:after {
    bottom: -8px;
}
#menu-tog.active span:before, #menu-tog.active span:after {
    top: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#menu-tog.active span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
#menu-tog.active span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
#navigation {
    height: 100%;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    white-space: nowrap;
    background-color: #ffffff;
    margin-right: -5px;
    padding-left: 400px;
}
#navigation:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}
#navigation ul {
    display: inline-block;
    vertical-align: middle;
}
#navigation .submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    padding-top: 30px;
    margin-left: -85px;
    width: 170px;
    text-align: left;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    -webkit-transition: opacity 200ms ease-in-out, padding-top 200ms ease-in-out, visibility 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out, padding-top 200ms ease-in-out, visibility 200ms ease-in-out;
    transition: opacity 200ms ease-in-out, padding-top 200ms ease-in-out, visibility 200ms ease-in-out;
}
#navigation li:hover .submenu {
    padding-top: 15px;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
#navigation .submenu ul {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 0px 15px;
}
#navigation .submenu ul:before, #navigation .submenu ul:after {
    content: "";
    position: absolute;
    top: 0;
}
#navigation .submenu ul:before {
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #022142;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
#navigation .submenu ul:after {
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #ffffff transparent transparent transparent;
}
#navigation li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 20px;
}
#navigation .submenu li {
    display: block;
    margin: 0;
}
#navigation a {
	text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #000000;
    -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
#navigation a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: -1px;
    display: block;
    width: 2px;
    height: 3px;
    margin-top: 35px;
    margin-left: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0s, width 0.5s ease 0s, margin-left 0.5s ease 0s, left 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s, width 0.5s ease 0s, margin-left 0.5s ease 0s, left 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s, width 0.5s ease 0s, margin-left 0.5s ease 0s, left 0.5s ease 0s;
    -ms-transition: opacity 0.5s ease 0s, width 0.5s ease 0s, margin-left 0.5s ease 0s, left 0.5s ease 0s;
    transition: opacity 0.5s ease 0s, width 0.5s ease 0s, margin-left 0.5s ease 0s, left 0.5s ease 0s;
}
#navigation li#signup a:after {
    margin-top: 25px;
}
#navigation li.has-submenu a:after, #navigation .submenu a:after {
    display: none;
}
#navigation li:hover a:after, #navigation li.current a:after {
    left: 0;
    margin-left: 0;
    opacity: 1;
    width: 100%;
}
#navigation .submenu a {
    color: #ffffff;
    font-size: 14px;
    padding: 9px 20px;
    margin: 0;
    white-space: normal;
}
#navigation a:hover {}
#navigation .submenu a:hover, #navigation .submenu a.current {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
}