@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?47748438');
    src: url('../font/fontello.eot?47748438#iefix') format('embedded-opentype'), url('../font/fontello.woff?47748438') format('woff'), url('../font/fontello.ttf?47748438') format('truetype'), url('../font/fontello.svg?47748438#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47748438#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-paper-plane:before {
    content: '\e800';
}
/* '' */

.icon-ok:before {
    content: '\e801';
}
/* '' */

.icon-mobile:before {
    content: '\e802';
}
/* '' */

.icon-users:before {
    content: '\e803';
}
/* '' */

.icon-angle-right:before {
    content: '\e804';
}
/* '' */

.icon-angle-down:before {
    content: '\e805';
}
/* '' */

.icon-location:before {
    content: '\e806';
}
/* '' */

.icon-comment:before {
    content: '\e807';
}
/* '' */

.icon-wrench:before {
    content: '\e808';
}
/* '' */

.icon-wrench-1:before {
    content: '\e809';
}
/* '' */

.icon-user-male:before {
    content: '\e80a';
}
/* '' */

.icon-linkedin-rect:before {
    content: '\e80b';
}
/* '' */

.icon-facebook-rect:before {
    content: '\e80c';
}
/* '' */

.icon-facebook:before {
    content: '\e80d';
}
/* '' */

.icon-gplus:before {
    content: '\e80e';
}
/* '' */

.icon-twitter-bird:before {
    content: '\e80f';
}
/* '' */

.icon-dribbble:before {
    content: '\e810';
}
/* '' */

.icon-googleplus-rect:before {
    content: '\e811';
}
/* '' */

.icon-angle-left:before {
    content: '\e812';
}
/* '' */

.icon-angle-up:before {
    content: '\e813';
}
/* '' */

.icon-down:before {
    content: '\e814';
}
/* '' */

.icon-award:before {
    content: '\e815';
}
/* '' */

.icon-mail:before {
    content: '\e816';
}
/* '' */

.icon-phone:before {
    content: '\e817';
}
/* '' */

.icon-reply:before {
    content: '\e818';
}
/* '' */

.icon-link:before {
    content: '\e819';
}
/* '' */

.icon-plus:before {
    content: '\e81a';
}
/* '' */

.icon-search:before {
    content: '\e81b';
}
/* '' */