@import url(reset.css);
@import url(webfonts.css);
@import url(touchcarousel.css);
@import url(black-and-white-skin.css);
body {
    font-family: "Century";
    font-size: 14px;
    background: #fff;
    color: #5f5f5f
}

p {
    line-height: 140%;
    margin-bottom: 20px
}

.gris {
    color: #9e9e9e
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

.clear {
    clear: both
}

body {
    color: #5f5f5f;
    font-size: 14px;
    background: #fff
}

/*
	BRT ORIGINAL HEADER
header {
    height: 54px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200
}

header .cont {
    width: 960px;
    margin: auto
}

header .logo {
    float: left;
    position: relative;
    top: 7px
}

header nav {
    display: inline-block;
    float: left;
    margin-left: 100px
}

header nav a {
    display: inline-block;
    color: #5f5f5f;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    background: #b7d042
}

header nav a span {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 20px
}

header nav a:hover span {
    top: -90px
}*/

#seccion2,
#seccion3,
#seccion4 {
    position: relative;
    top: -50px
}

.bigBanner {
    width: 100%;
    position: relative
}

.bigBanner .cover {
    width: 100%
}

.bigBanner:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/pattern.png)
}

.bigBanner video {
    width: 100%;
    position: relative;
    z-index: 1
}

.bigBanner .cont {
    width: 460px;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 5;
    color: white;
    font-family: "Franklin"
}

.bigBanner .cont h1 {
    font-size: 100px
}

.bigBanner .cont img {
    margin-bottom: 30px
}

.bigBanner .cont p {
    font-size: 30px;
    line-height: 110%;
    text-align : right;
}

.sistema {
    width: 960px;
    margin: auto;
    padding: 50px 0 20px 0;
    position: relative
}

.sistema img {
    position: absolute;
    top: 50px;
    right: 0
}

.sistema article {
    width: 370px
}

.sistema article h2 {
    font-family: "Franklin";
    font-size: 60px;
    margin-bottom: 20px
}

.soluciones {
    background: #f3f3f3
}

.soluciones .cont {
    width: 960px;
    margin: auto;
    padding: 50px 0
}

.soluciones .cont p {
    width: 520px;
    float: right;
    margin: 0
}

.soluciones .cont span {
    float: left;
    font-family: "CenturyBlk";
    font-size: 45px;
    color: #b7d042;
    font-style: italic;
    position: relative;
    top: 30px
}

.caract {
    background: url(../images/back-caract.png) #87aeba;
    overflow: hidden
}

.caract img {
    position: absolute
}

.caract .cont {
    width: 960px;
    margin: auto;
    padding: 50px 0;
    position: relative;
    min-height: 650px
}

.caract .cont .tit {
    font-family: "Franklin";
    font-size: 34px;
    color: #fff;
    text-align: center
}

.caract .cont .piso {
    bottom: 0;
    left: 50%;
    margin-left: -650px;
    z-index: 0
}

.caract .cont .puertas {
    width: 559px;
    height: 572px;
    background: url(../images/puerta-ilu.png);
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -279px;
    z-index: 3
}

.caract .cont .puertas .izq {
    position: absolute;
    top: 36px;
    left: 114px
}

.caract .cont .puertas .der {
    position: absolute;
    top: 36px;
    left: 279px
}

.caract .cont .torniquetes {
    bottom: -20px;
    left: 60px;
    z-index: 4
}

.caract .globe {
    position: absolute;
    width: 160px;
    z-index: 5
}

.caract .globe p {
    color: #b7d042;
    font-family: "CenturyBlk";
    font-size: 13px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    line-height: 120%
}

.caract .globe:hover:before {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.caract .abajo {
    padding-bottom: 25px
}

.caract .abajo img {
    bottom: 0;
    left: 10px;
    z-index: 5
}

.caract .abajo:before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.caract .arriba {
    padding-top: 40px
}

.caract .arriba img {
    top: 0;
    left: 10px;
    z-index: 5
}

.caract .arriba:before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.caract .b1 {
    top: 115px;
    left: 210px
}

.caract .b1 p {
    position: relative;
    text-align: right;
    left: -180px;
    top: 50px
}

.caract .b2 {
    top: 115px;
    left: 530px
}

.caract .b2 img {
    left: 50px
}

.caract .b2:before {
    left: 50px
}

.caract .b3 {
    top: 100px;
    left: 700px;
    width: 200px
}

.caract .b3 p {
    position: relative;
    left: 70px;
    top: 60px
}

.caract .b4 {
    top: 310px;
    left: 210px
}

.caract .b4 p {
    position: relative;
    top: -40px;
    text-align: right;
    left: -180px
}

.caract .b5 {
    top: 130px;
    left: 300px
}

.caract .b5 img {
    left: 50px
}

.caract .b5:before {
    left: 50px
}

.caract .b6 {
    top: 310px;
    left: 700px
}

.caract .b6 p {
    position: relative;
    left: 70px;
    top: -40px
}

.andenes {
    background: url(../images/back-andenes.png) #617680;
    overflow: hidden;
    position: relative
}

.andenes img {
    position: absolute
}

.andenes .cont {
    width: 960px;
    margin: auto;
    position: relative;
    min-height: 680px
}

.andenes .tit {
    font-family: "Franklin";
    font-size: 34px;
    color: #fff;
    text-align: center;
    padding: 50px 0
}

.andenes .piso {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 0;
    background: #989c9e;
    position: absolute
}

.andenes .puerta {
    width: 818px;
    height: 520px;
    position: absolute;
    background: url(../images/puerta-a.png);
    bottom: -68px;
    left: 50%;
    margin-left: -409px;
    z-index: 3
}

.andenes .puerta img {
    top: 37px
}

.andenes .puerta .izq1 {
    left: 96px;
    z-index: 3
}

.andenes .puerta .izq2 {
    left: 238px;
    z-index: 4
}

.andenes .puerta .der2 {
    left: 408px;
    z-index: 4
}

.andenes .puerta .der1 {
    left: 541px;
    z-index: 3
}

.andenes .globe {
    position: absolute;
    width: 160px;
    z-index: 5
}

.andenes .globe p {
    color: #b7d042;
    font-family: "CenturyBlk";
    font-size: 13px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    line-height: 120%
}

.andenes .globe:hover:before {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.andenes .abajo {
    padding-bottom: 25px
}

.andenes .abajo img {
    bottom: 1px;
    left: 11px;
    z-index: 5
}

.andenes .abajo:before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.andenes .arriba {
    padding-top: 40px
}

.andenes .arriba img {
    top: 1px;
    left: 11px;
    z-index: 5
}

.andenes .arriba:before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.andenes .alerta {
    top: 240px;
    left: 30px;
    z-index: 4
}

.andenes .disc {
    top: 240px;
    right: 30px;
    z-index: 4
}

.andenes .b1 {
    top: 330px;
    left: 0px
}

.andenes .b1 p {
    position: relative;
    text-align: right;
    left: -100px;
    padding-left: 50px
}

.andenes .b1 img {
    left: 51px;
    top: -49px
}

.andenes .b1:before {
    left: 50px;
    top: -50px
}

.andenes .b2 {
    top: 155px;
    left: 80px;
    width: 200px
}

.andenes .b3 {
    top: 155px;
    left: 310px
}

.andenes .b4 {
    top: 170px;
    left: 520px
}

.andenes .b5 {
    top: 300px;
    left: 895px
}

.andenes .b5 img {
    left: -59px
}

.andenes .b5 p {
    padding-right: 50px
}

.andenes .b5:before {
    left: -60px
}

.andenes .b6 {
    top: 170px;
    left: 700px;
    width: 200px
}

.andenes .b7 {
    top: 510px;
    left: 385px;
    width: 250px
}

.andenes .b7 img {
    left: 100px
}

.andenes .b7:before {
    left: 99px
}

.andenes .b8 {
    top: 510px;
    left: 100px;
    width: 250px
}

.andenes .b8 img {
    left: 100px
}

.andenes .b8:before {
    left: 99px
}

.andenes .b9 {
    top: 510px;
    left: 650px;
    width: 250px
}

.andenes .b9 img {
    left: 100px
}

.andenes .b9:before {
    left: 99px
}

.feats {
    width: 960px;
    margin: auto
}

.feats li {
    border-bottom: 1px solid #c9caca;
    padding: 80px 0 60px 0;
    position: relative
}

.feats li h3 {
    font-size: 50px;
    font-family: "Franklin";
    margin-bottom: 20px;
    color: #787d7f
}

.feats li:last-child {
    border: none
}

.feats img {
    position: absolute
}

.feats .infoRight article {
    float: right
}

.feats .infoLeft article {
    float: left
}

.feats .coms article {
    width: 540px
}

.feats .coms .i1 {
    top: 100px;
    left: 30px;
    z-index: 0
}

.feats .coms .i2 {
    top: 165px;
    left: 60px;
    z-index: 1
}

.feats .coms .i3 {
    top: 171px;
    left: 63px;
    -webkit-animation: onOff 0.6s infinite linear;
    -moz-animation: onOff 0.6s infinite linear;
    -o-animation: onOff 0.6s infinite linear;
    animation: onOff 0.6s infinite linear
}

.feats .notif article {
    width: 495px
}

.feats .notif .i1 {
    top: 150px;
    left: 580px;
    z-index: 1
}

.feats .notif .i2 {
    top: 75px;
    left: 625px;
    z-index: 2
}

.feats .alarma {
    padding: 120px 0
}

.feats .alarma article {
    width: 500px
}

.feats .alarma .i1 {
    top: 80px;
    left: 20px;
    z-index: 1
}

.feats .alarma .i2 {
    top: 80px;
    left: 80px;
    z-index: 2;
    -webkit-animation: shakeit 0.8s infinite linear;
    -moz-animation: shakeit 0.8s infinite linear;
    -o-animation: shakeit 0.8s infinite linear;
    animation: shakeit 0.8s infinite linear
}

.feats .alarma .i3 {
    top: 85px;
    left: 60px;
    z-index: 3;
    -webkit-animation: onOff 0.6s infinite linear;
    -moz-animation: onOff 0.6s infinite linear;
    -o-animation: onOff 0.6s infinite linear;
    animation: onOff 0.6s infinite linear
}

.feats .alarma .i4 {
    top: 130px;
    left: 210px;
    z-index: 4
}

.feats .monitoreo article {
    width: 470px
}

.feats .monitoreo .i1 {
    top: 140px;
    left: 500px;
    z-index: 1
}

.feats .monitoreo .i2 {
    top: 189px;
    left: 538px;
    z-index: 2;
    -webkit-animation: puertaIzq 8s infinite linear;
    -moz-animation: puertaIzq 8s infinite linear;
    -o-animation: puertaIzq 8s infinite linear;
    animation: puertaIzq 8s infinite linear
}

.feats .monitoreo .i3 {
    top: 189px;
    left: 602px;
    z-index: 2;
    -webkit-animation: puertaDer 8s infinite linear;
    -moz-animation: puertaDer 8s infinite linear;
    -o-animation: puertaDer 8s infinite linear;
    animation: puertaDer 8s infinite linear
}

.feats .emergencia article {
    width: 470px
}

.feats .emergencia .i1 {
    top: 220px;
    left: 20px;
    z-index: 1
}

.feats .emergencia .i2 {
    top: 150px;
    left: 250px;
    z-index: 2;
    -webkit-animation: shakeit 0.8s infinite linear;
    -moz-animation: shakeit 0.8s infinite linear;
    -o-animation: shakeit 0.8s infinite linear;
    animation: shakeit 0.8s infinite linear
}

.feats .emergencia .i3 {
    top: 145px;
    left: 233px;
    z-index: 3;
    -webkit-animation: onOff 0.6s infinite linear;
    -moz-animation: onOff 0.6s infinite linear;
    -o-animation: onOff 0.6s infinite linear;
    animation: onOff 0.6s infinite linear
}

.galeria {
    width: 100%;
    background: #89aeac;
    padding: 100px 0
}

.galeria .cont {
    width: 960px;
    margin: auto;
    color: #fff;
    font-family: "Franklin"
}

.galeria .cont span {
    display: block;
    font-size: 60px
}

.galeria .cont p {
    color: #a6e8e5;
    font-size: 48px
}

.tour {
    background: url(../images/fondo-imagen.jpg) center center no-repeat;
    background-size: cover
}

.tour .cont {
    width: 960px;
    margin: auto;
    padding: 100px 0;
    color: #fff
}

.tour .cont span {
    display: block;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Franklin"
}

.tour .cont p {
    font-size: 18px
}

.tour .cont ul {
    text-align: center;
    padding-top: 50px
}

.tour .cont ul li {
    display: inline-block;
    width: 250px;
    margin: 0 50px
}

.tour .cont ul li a {
    display: block;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-family: "Franklin";
    text-transform: uppercase;
    font-size: 18px;
    position: relative
}

.tour .cont ul li a p {
    padding-top: 20px
}

.tour .cont ul li a img {
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 2
}

.tour .cont ul li a:before {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    background: url(../images/lupa.png);
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -32px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.tour .cont ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    box-shadow: inset 0px 0px 0px 6px #a8e764;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.tour .cont ul li a:hover:before {
    opacity: 1;
    top: 90px
}

.tour .cont ul li a:hover:after {
    opacity: 1
}

.tour .cont ul li a:hover img {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8)
}

.brt {
    background: #f3f3f3;
    overflow: hidden
}

.brt .cont {
    width: 960px;
    padding: 100px 0;
    margin: auto
}

.brt .cont .tres {
    overflow: hidden;
    margin-bottom: 100px
}

.brt .cont .tres li {
    width: 33.3%;
    float: left;
    position: relative
}

.brt .cont .tres li div {
    text-align: center;
    min-height: 120px
}

.brt .cont .tres li span,
.brt .cont .tres li p,
.brt .cont .tres li h4,
.brt .cont .tres li strong {
    padding: 0 20px
}

.brt .cont .tres li h4 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Franklin"
}

.brt .cont .tres li span,
.brt .cont .tres li strong {
    display: block;
    font-family: "Franklin";
    font-size: 24px;
    margin-bottom: 10px
}

.brt .cont .tres li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: -2px;
    background: #c9caca;
    width: 1px;
    height: 300px
}

.brt .estacion {
    min-height: 650px;
    position: relative
}

.brt .estacion h5 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Franklin"
}

.brt .estacion ul {
    width: 570px
}

.brt .estacion ul li {
    width: 33.3%;
    float: left;
    position: relative;
    margin-bottom: 30px;
    z-index: 20
}

.brt .estacion ul li p {
    padding-left: 30px
}

.brt .estacion ul li span {
    position: absolute;
    top: 7px;
    left: 7px;
    color: #fff;
    font-family: "Franklin";
    font-size: 18px
}

.brt .estacion ul li:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #b9cb50;
    position: absolute;
    top: 0;
    left: 0
}

.brt .estacion img {
    position: absolute
}

.brt .estacion .eco1 {
    top: 70px;
    left: 200px;
    z-index: 5
}

.brt .estacion .eco2 {
    bottom: -400px;
    left: 50%;
    margin-left: -928px;
    z-index: 0
}

.brt .estacion .eco3 {
    top: 275px;
    left: 180px;
    z-index: 2
}

.brt .estacion .eco4 {
    top: 200px;
    left: 660px;
    z-index: 6
}

.brt .estacion .eco5 {
    top: 255px;
    left: 450px;
    z-index: 7
}

.brt .estacion .eco6 {
    top: 83px;
    left: 230px;
    z-index: 1
}

.brt .estacion .reloj {
    top: -90px;
    right: -30px
}

.brt .estacion .nube1 {
    top: 300px;
    left: 0;
    z-index: 11;
    -webkit-animation: nube1 20s infinite linear;
    -moz-animation: nube1 20s infinite linear;
    -o-animation: nube1 20s infinite linear;
    animation: nube1 20s infinite linear
}

.brt .estacion .nube2 {
    top: 70px;
    left: 0;
    z-index: 11;
    -webkit-animation: nube1 30s infinite linear;
    -moz-animation: nube1 30s infinite linear;
    -o-animation: nube1 30s infinite linear;
    animation: nube1 30s infinite linear
}

.aniPuerta1 {
    -webkit-animation: abrePuerta1 6s infinite linear;
    -moz-animation: abrePuerta1 6s infinite linear;
    -o-animation: abrePuerta1 6s infinite linear;
    animation: abrePuerta1 6s infinite linear
}

@-webkit-keyframes abrePuerta1 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuerta1 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuerta1 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuerta1 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

.aniPuerta2 {
    -webkit-animation: abrePuerta2 6s infinite linear;
    -moz-animation: abrePuerta2 6s infinite linear;
    -o-animation: abrePuerta2 6s infinite linear;
    animation: abrePuerta2 6s infinite linear
}

@-webkit-keyframes abrePuerta2 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-246px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuerta2 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-246px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuerta2 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-246px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuerta2 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-246px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

.aniPuerta4 {
    -webkit-animation: abrePuerta4 6s infinite linear;
    -moz-animation: abrePuerta4 6s infinite linear;
    -o-animation: abrePuerta4 6s infinite linear;
    animation: abrePuerta4 6s infinite linear
}

@-webkit-keyframes abrePuerta4 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuerta4 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuerta4 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuerta4 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

.aniPuerta3 {
    -webkit-animation: abrePuerta3 6s infinite linear;
    -moz-animation: abrePuerta3 6s infinite linear;
    -o-animation: abrePuerta3 6s infinite linear;
    animation: abrePuerta3 6s infinite linear
}

@-webkit-keyframes abrePuerta3 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(248px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuerta3 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(248px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuerta3 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(248px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuerta3 {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(248px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

.aniPuertaIzq {
    -webkit-animation: abrePuertaIzq 4s infinite linear;
    -moz-animation: abrePuertaIzq 4s infinite linear;
    -o-animation: abrePuertaIzq 4s infinite linear;
    animation: abrePuertaIzq 4s infinite linear
}

@-webkit-keyframes abrePuertaIzq {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuertaIzq {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuertaIzq {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuertaIzq {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(-125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

.aniPuertaDer {
    -webkit-animation: abrePuertaDer 4s infinite linear;
    -moz-animation: abrePuertaDer 4s infinite linear;
    -o-animation: abrePuertaDer 4s infinite linear;
    animation: abrePuertaDer 4s infinite linear
}

@-webkit-keyframes abrePuertaDer {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes abrePuertaDer {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-o-keyframes abrePuertaDer {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes abrePuertaDer {
    0% {
        -webkit-transform: translateX(0)
    }
    25%,
    50% {
        -webkit-transform: translateX(125px)
    }
    75%,
    100% {
        -webkit-transform: translateX(0)
    }
}

@-webkit-keyframes puertaIzq {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        -webkit-transform: translateX(-30px)
    }
    80% {
        -webkit-transform: translateX(-30px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes puertaIzq {
    0% {
        -moz-transform: translateX(0)
    }
    20% {
        -moz-transform: translateX(-30px)
    }
    80% {
        -moz-transform: translateX(-30px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@-o-keyframes puertaIzq {
    0% {
        -o-transform: translateX(0)
    }
    20% {
        -o-transform: translateX(-30px)
    }
    80% {
        -o-transform: translateX(-30px)
    }
    100% {
        -o-transform: translateX(0)
    }
}

@keyframes puertaIzq {
    0% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(-30px)
    }
    80% {
        transform: translateX(-30px)
    }
    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes puertaDer {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        -webkit-transform: translateX(30px)
    }
    80% {
        -webkit-transform: translateX(30px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes puertaDer {
    0% {
        -moz-transform: translateX(0)
    }
    20% {
        -moz-transform: translateX(30px)
    }
    80% {
        -moz-transform: translateX(30px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

@-o-keyframes puertaDer {
    0% {
        -o-transform: translateX(0)
    }
    20% {
        -o-transform: translateX(30px)
    }
    80% {
        -o-transform: translateX(30px)
    }
    100% {
        -o-transform: translateX(0)
    }
}

@keyframes puertaDer {
    0% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(30px)
    }
    80% {
        transform: translateX(30px)
    }
    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes onOff {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-moz-keyframes onOff {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-o-keyframes onOff {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes onOff {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes nube1 {
    0% {
        left: 0%;
        opacity: 0
    }
    20% {
        opacity: .8
    }
    80% {
        opacity: .8
    }
    100% {
        left: 100%;
        opacity: 0
    }
}

@-moz-keyframes nube1 {
    0% {
        left: 0%;
        opacity: 0
    }
    20% {
        opacity: .8
    }
    80% {
        opacity: .8
    }
    100% {
        left: 100%;
        opacity: 0
    }
}

@-o-keyframes nube1 {
    0% {
        left: 0%;
        opacity: 0
    }
    20% {
        opacity: .8
    }
    80% {
        opacity: .8
    }
    100% {
        left: 100%;
        opacity: 0
    }
}

@keyframes nube1 {
    0% {
        left: 0%;
        opacity: 0
    }
    20% {
        opacity: .8
    }
    80% {
        opacity: .8
    }
    100% {
        left: 100%;
        opacity: 0
    }
}

@-webkit-keyframes shakeit {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}

@-moz-keyframes shakeit {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}

@-o-keyframes shakeit {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}

@keyframes shakeit {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}