/* -- fonts -- */

@font-face {
  font-family: 'Century';
  src: url('../fonts/4365.eot'); /* IE9 Compat Modes */
  src: url('../fonts/4365.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/4365.woff') format('woff'), /* Modern Browsers */
       url('../fonts/4365.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/4365.svg#13db03934b676bad49f0835d401d12db') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'CenturyBlk';
  src: url('../fonts/4637.eot'); /* IE9 Compat Modes */
  src: url('../fonts/4637.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/4637.woff') format('woff'), /* Modern Browsers */
       url('../fonts/4637.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/4637.svg#e8822cb86844068280e5784dfd42de7a') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Franklin';
  src: url('../fonts/ITCFranklinGothicStd-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ITCFranklinGothicStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ITCFranklinGothicStd-Book.svg#9e8f23f114866499cc0f0703ec82369f') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?41ymob');
    src:url('../fonts/icomoon.eot?#iefix41ymob') format('embedded-opentype'),
        url('../fonts/icomoon.woff?41ymob') format('woff'),
        url('../fonts/icomoon.ttf?41ymob') format('truetype'),
        url('../fonts/icomoon.svg?41ymob#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e600";
}
.icon-arrow-down:before {
    content: "\e601";
}
.icon-arrow-up:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-twitter:before {
    content: "\e604";
}
.icon-facebook:before {
    content: "\e605";
}