@font-face {
  font-family: 'Century Gothic';
  src: url('4365.eot'); /* IE9 Compat Modes */
  src: url('4365.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('4365.woff') format('woff'), /* Modern Browsers */
       url('4365.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('4365.svg#13db03934b676bad49f0835d401d12db') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('4637.eot'); /* IE9 Compat Modes */
  src: url('4637.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('4637.woff') format('woff'), /* Modern Browsers */
       url('4637.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('4637.svg#e8822cb86844068280e5784dfd42de7a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std Book';
  src: url('ITCFranklinGothicStd-Book.eot'); /* IE9 Compat Modes */
  src: url('ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ITCFranklinGothicStd-Book.woff') format('woff'), /* Modern Browsers */
       url('ITCFranklinGothicStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ITCFranklinGothicStd-Book.svg#9e8f23f114866499cc0f0703ec82369f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

