@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?41ymob');
	src:url('fonts/icomoon.eot?#iefix41ymob') format('embedded-opentype'),
		url('fonts/icomoon.woff?41ymob') format('woff'),
		url('fonts/icomoon.ttf?41ymob') format('truetype'),
		url('fonts/icomoon.svg?41ymob#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
